*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #889787;
    color: #101010;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

h1{
    text-align: center;
    margin-top: 6%;
}



.health-container{
    position: relative;
    margin: auto;
    /* background-color: red; */
    align-items: center;
    margin-top: 30px;
}

#Boss-Health{
    position: absolute;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    z-index: 2;
    left: 49%;
    top: -7px;
    background: none;
    color: #f2f2ff;
    background: rgba( 0, 0, 0, 0.012 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.health-bar{
    width: 50%;
    background-color: rgba(255, 45, 45, 0.737);
    height: 60px;
    margin: auto;
}

.green{
    background-color: rgb(0, 105, 0);
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 0; /* Align green bar with top of the red bar */
    left: 25%;

}


/* Bottom Section (Action Bar) */

.details-container{
    display: flex;
    /* background-color: red; */
    width: 97%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}


.action-container{
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: min-content;
    width: 100%;
}


.player-name{
    font-size: 2em;
    font-weight: 700;
    display: flex;
    width: 100%;
    /* background-color: red; */
    align-items: center;
}

.empty-line{
    /* border: none; */
    border: solid 2px #422800;
    border-radius: 32px;
    width: 25%;
}

.action-row{
    display: flex;
    align-items: center;
    /* width: min-content; */
    width: 100%
}

  
.action-title{
    font-size: 2em;
    font-weight: 700;
}

.buttons{
    padding-left: 5%;
    display: flex;
    width: min-content;
    width: 100%;
}

#Human-Healing-Times, #AI-Healing-Times{
    font-size: 1.2em;
    font-weight: 600;
}


  
.endgame, .selectWhoStarts, .selectDifficulty{
    display: none;
    width:  30%;
    min-width: 300px;
    top: 30%;
    position: absolute;
    left: 41%;
    margin-left: -100px;
    text-align: center;
    border-radius: 5px;
    height: 300px;
    color: white;
    background-color: rgb(32, 0, 113);
    font-size: 2em;
    z-index: 3;
    background: rgba( 6, 0, 0, 0.2 );
    background: rgba( 6, 0, 0, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.selectDifficulty{
    height: 400px;
}

.text{
    background: none;
    color: white;
    padding-top: 70px;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
}

/* .selectWhoStarts{
    display: block;
} */

.selectDifficulty{
    display: block;
}

.selectWhoStarts p, .selectDifficulty p{
    font-size: 40px;
    font-weight: 700;
    background: none;
    color: white;
}

.selectWhoStarts button, .endgame button, .selectDifficulty button{
    font-size:  40px;
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    background-color: #fbeee0;
    border-radius: 8px;
    cursor: pointer;
}

.endgame button{
    font-size: 24px;
    margin-top: 17%;
}

.selectDifficulty button{
    width: 70%;
    font-size: 30px;
}


.selectWhoStarts  button:first-of-type {
    margin-right: 20px;
}
.selectWhoStarts  button:last-of-type {
    margin-left: 20px;
}

.selectWhoStarts button:hover, .endgame button:hover, .selectDifficulty button:hover{
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
}

/* -------------------------- Bot is thinking --------------------------*/
/* video {
    width: 300px; 
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.bot-thinking{
    display: none;
    position: absolute;
    top: 13%;
    left: 2%;
    align-items: center;
    text-align: center;
}

.thinking-text{
    margin-top: 8px;
    font-weight: 400;
} */


/* Style for Buttons */
.buttons.AI{
    pointer-events: none;
    opacity: 50%;
}

.buttons.AI button{
    color: #101010;
}

.buttons button {
    pointer-events: none;
    color: #101010;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    margin-left: 8%;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    min-width: 120px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttons button:hover {
     background-color: #fff;
}

.buttons button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* @media (min-width: 768px) {
  .buttons button {
    min-width: 120px;
    padding: 0 25px;
  }
} */

@media (max-width: 1300px) {
  .details-container{
    flex-direction: column;
  }
  .action-container.Human{
    order: -1;
  }
  .selectWhoStarts button{
    font-size: 30px;
  }
  .selectWhoStarts  button:first-of-type {
    margin-right: 10px;
    }
    .selectWhoStarts  button:last-of-type {
        margin-left: 10px;
    }
}


@media screen and (max-width: 900px) {
  #Boss-Health{
    left: 46%;
  }
  .buttons button{
    min-width: 70px;
  }
  .details-container{
    margin-top: 20%;
  }
}

@media screen and (max-width: 400px) {
  .selectWhoStarts button{
        font-size: 25px;
    }
    .selectWhoStarts  button:first-of-type {
        margin-right: 10px;
    }
    .selectWhoStarts  button:last-of-type {
        margin-left: 10px;
    }
}

@media screen and (max-width: 700px) {
  h1{
    margin-top: 13%;
    font-size: 30px;
  }
}
@media screen and (max-width: 350) {
  h1{
    margin-top: 13%;
    font-size: 30px;
  }
}
